{% extends 'landing/landing_base.html' %}
{% load static %}

{% block landing_custom_css %}

    <link rel="stylesheet" href="{% static 'landing/css/about_us.css' %}">
    
{% endblock landing_custom_css %}
    
{% block mainNav %}
<nav class="navbar navbar-expand-lg mb-4 top-bar fixed-top" style="background:#F47735">
        <div class="container">
            <a class="navbar-brand  col-4" href="#"><img src="{% static 'landing/images/brgylogo_long.png' %}" style="width: 100%;"></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link"  href="{% url 'landing:landingBase' %}">Home <span class="sr-only">(current)</span></a> </li>
                <li class="nav-item active"> <a class="nav-link" href="{% url 'landing:aboutUs' %}">About</a> </li>
                <li class="nav-item"> <a class="nav-link" href="website_applications.html">Applications</a> </li>
                <li class="nav-item"> <a class="nav-link" href="projects.html">Events</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'landing:contactUs' %}">Contact</a> </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock mainNav %}
{% block sliderContents %}
    
{% endblock sliderContents %}
    
{% block mainContents %}
<!-- NOTE for spacing only -->
<div style="padding-top: 150px !important;">
</div>
<!-- SECTION HISTORY -->
<div class="row">
    <div class="col-12">
        <div class="card"> 
            <div class="card-block card border-warning mb-0"> 
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 animated slideInLeft slower d-flex justify-content-center">
                            <b><h1 class=" text display-4 animated pulse infinite slower"id="about" >
                            <br>
                            HISTORY
                            </h1></b>
                        </div>
                        <div class="col-md-6 text-justify mt-1 pt-0 p-0"><br>
                            <h6 class="animated slideInRight slower">
                            <u>Barangay 175</u> was created by virtue of 1972 Constitution. Geographically,
                            Barangay 175 bounded by Bagong Silang (Barangay 176) in the North, Cielito (Barangay 177) in the south,
                            Area B Camarin (Barangay 174) in the East and Bagumbong (Barangay 171) in the West. It has a total land 
                            Area of 275 hectares, with an approximate population. <br><br> The first appointed Barangay Captain was the late Felipe 
                            Samano, Mr. Benigno Dela Cruz was the first elected Barangay Captain in 1982. Mr. Benigno Dela Cruz was 
                            re-elected in 1989 under Batas Pambansa 337, otherwise known as the Local Government Code of 1989. 
                            Mr. Romeo Bantugan was elected in 1994 under the local government code of 1991 then re-elected in 1997,
                            Barangay Captain Alfredo Estrello was elected as Punong Barangay on July 15, 2002, and Mr. Ireneo Cayetano 
                            seated Ruben Z. Dela Cruz administered the Barangay since February 2009 up to the present.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SECTION ABOUT -->
<div class="row">
    <div class="col-12">
        <div class="card"> 
            <div class="card-block card border-warning mb-0"> 
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 animated slideInLeft slower d-flex justify-content-center">
                            <b><h1 class=" text display-4 animated pulse infinite slower" id="about">ABOUT</h1></b>
                        </div>
                        <div class="col-md-6 text-justify mt-1 pt-0 p-0"><br>
                            <h6 class="animated slideInRight slower">Barangay 175- Zone 15 – District 1 is the fourth largest barangay in the entire City of Caloocan in terms of land area, annual income and population. It is situated in Camarin, within the so-called “bukid” area of Caloocan. Barangay 175 approximately 18 kilometers away from the City proper and is now considered as a developed community. 
                            <br><br> 
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SECTION MISSION & VISION -->
<div class="row">
    <div class="col-12">
        <div class="card"> 
            <div class="card-block card border-warning mb-0 card bg-white"> 
                <div class="container">
                    <div class="row">                             
                        <div class="col-md-6 col-sm-12 animated slideInLeft slower ml-0 pt-5 d-flex justify-content-center">
                            <b><h1 class="text display-4 pb-4 animated pulse infinite slower">MISSION <br> & VISION </h1></b>
                        </div>
                        <div class="col-md-6 text-justify mt-0 pt-0 p-0"><br>
                            <h5 class="card-title animated slideInRight slower"><center>MISSION</center></h5> <b>
                                <h6 class="animated slideInRight slower">
                                    <center>To continuously provide, deliver services and privileges to our constituents.</center> 
                                </h6>
                            <h5 class="card-title animated slideInRight slower"><center>VISION</center></h5> 
                                <h6 class="animated slideInRight slower">
                                    <center> A vision for progress thru transparency.</center> 
                                </h6>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SECTION OFFICIALS -->
<div class="row">
    <div class="col-12">
        <div class="card"> 
            <div class="card-block card border-warning mb-0"> 
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 p-2">
                                    <div class="animated  slideInLeft slower d-flex justify-content-center col-sm-12"><b><h1 class="text display-4 animated pulse infinite slower"><br>OFFICIALS<br><br></h1></b></div>
                                    <div class="main-timeline4">
                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/1.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title pl-9">Hon. Ronaldo "ONIE" Matias</h3>
                                                    <p class="description">
                                                        Barangay Chairman
                                                    </p>
                                            </div>
                                            </a>      
                                        </div>
                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/2.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. Arniel G. David</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                            </div>
                                            </a>
                                        </div>
                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                            <span class="year"><img src="{% static 'landing/images/3.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. Bernard "Bernie" Arroyo</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/4.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. Cesar Del Rosario</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/5.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. James Frederick Cayetano</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/6.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. Jess Cortez</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/7.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. Jopay "Josie" Mateo</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                            </div>
                                            </a>
                                        </div>

                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/8.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Hon. Keanu Asistio</h3>
                                                    <p class="description">
                                                        Barangay Kagawad
                                                    </p>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="timeline">
                                            <a href="#" class="timeline-content">
                                                <span class="year"><img src="{% static 'landing/images/9.jpg' %}" id="officialimages"></img></span>
                                                <div class="inner-content">
                                                    <h3 class="title">Ms. Maria Aurora Tan</h3>
                                                    <p class="description">
                                                        SK Chairwoman
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mainContents %}
    