{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block cssLink %}
    <link rel="stylesheet" href="{% static 'landing/custom.css' %}">
{% endblock cssLink %}

{% block content %}

<div class="mainContainer">
    <h2> FORMS </h2> <hr>
    <div class="row d-flex justify-content-center">
         <div class="col-sm-1 ml-4">
             <h4 class="text-warning">STEP 1:</h4></div>
           <div class="col-sm">
             <h5 class="text-secondary">Select the name of requestor.</h5></div>
     </div>
   
    <div class="row ">
         <div class="col-10">
            <form method="GET" action="/landing/forms" id="myform">
             <div class="form-group row">
                 <label for="EmailChangeThis" class="col-sm-2 col-form-label d-flex justify-content-end ml-5">Name of Requestor</label>
                 <div class="input-group col-sm-9">
                    
                        <input type="text" placeholder="Search Name or Email..." class="form-control box-placeholder" id="myInput" name = "search_name">
                     <span class="input-group-append">
                         <button class="btn btn-warning p-0 border-0 border px-4 font-weight-bold" type="Submit" onkeyup="myFunction()" >
                          Search
                          </button>
                          <!-- <a href={% url 'landingForms' %}  onclick="document.getElementById('myform').submit()" class="btn btn-warning p-0 border-0 border px-4 font-weight-bold" >Search</a> -->
                     </span>  
                 </div>
                
             </div>
            </form>
         </div>
         <!-- end of col-8 -->
         
     </div>

     <div class="row  justify-content-center">
         <div class="col-2">
             <div class="form-group row">

                 {{ obj_result }}
                 <!-- {{ value }} -->
                 <!-- <label for="EmailChangeThis" class="col-form-label  mr-3">Not Found?</label> -->
                     <a href="#Click here!" class="text-warning col-form-label">Click Here to Add Record</a>

                     

                 </div>
            
         </div>
         <!-- end of col-8 -->
         
     </div>
                                             
           <hr>
          
           <!-- row start -->
                                
     <div class="row">
         <div class="col-sm-1 ml-4">
             <h4 class="text-warning">STEP 2:</h4></div>
           <div class="col-sm">
             <h5 class="text-secondary">Click the type of transaction.</h5></div>
     </div>
<div class="container d-flex justify-content-start ml-6">
     <div class="row  col-12	">
      <div class="col-md-12 col-sm-12 mt-2">
        <div class="vertical-tabs nav-fill">
           <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                 <a class="nav-link  active" data-toggle="tab" href="#idcard" role="tab" aria-controls="home">I.D.</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#indigency" role="tab" aria-controls="profile">Indigency</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#clearance" role="tab" aria-controls="messages">Brgy. Clearance</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#permit" role="tab" aria-controls="settings">Brgy Permit</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#scholar" role="tab" aria-controls="settings">Scholarship</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#burial" role="tab" aria-controls="settings">Burial Claim</a>
              </li>
           </ul>
           
           <div class="tab-content">
            
              
              <div class="tab-pane active" id="idcard" role="tabpanel">

              <!-- FOR ID CARD -->
              {% include 'landing/landing_idform.html'%} 
                </div>
              
              <!-- FOR INDIGENCY TAB -->
              <div class="tab-pane" id="indigency" role="tabpanel">
                  {% include 'landing/landing_indigentform.html'%}
                
              </div>
              <div class="tab-pane" id="clearance" role="tabpanel">
                  {% include 'landing/landing_brgyclearance.html'%}
                
              </div>
              
              <!-- FOR BARANGAY PERMIT -->
              <div class="tab-pane" id="permit" role="tabpanel">
                  {% include 'landing/landing_businessform.html'%}
                
              </div>
              
              <!-- FOR SCHOLARSHIP -->
              
              <div class="tab-pane" id="scholar" role="tabpanel">
                  {% include 'landing/landing_scholarform.html'%}
                  
              </div>
              
              <!-- FOR BURIAL -->
              
              <div class="tab-pane" id="burial" role="tabpanel">
                  {% include 'landing/landing_burialform.html'%}
                
                 </div>
              </div>
              
              <!-- ENDS FORM CONTAINER -->
           </div>
        </div>
     </div>
                   </div>
</div>

{% endblock content %}

{% block jsLink %}
    <script src="{% static 'landing/landing.js' %}"></script>
    <!-- // <script>
    //   $(document).ready(function(){
    //     var resident_search = $(".ajax-resident-search")

    //     resident_search.submit(function(event){
    //       event.preventDefault()
    //       console.log("form is not sending")
    //       var thisForm = $(this)
    //       var actionEndpoint = thisForm.attr("action");
    //       var httpMethod = thisForm.attr("method");
    //       var formData = thisForm.serialize();

    //       console.log(thisForm.attr("action"),thisForm.attr("method"))
    //       $.ajax({
    //         url: actionEndpoint,
    //         method: httpMethod,
    //         data: formData,
    //         success: function(){
    //           console.log("success")
    //           console.log(data)
    //         },
    //         error: function(){
    //           console.log("error")
    //           console.log(data)
    //         }


    //       })
    //     })
    //   })
    // </script> -->
{% endblock jsLink %}