
 {% extends 'landing/landing_base.html' %}
 {% load static %}

 
 

{% block sliderContents %}

<div class="container-fluid my-3 mt-5">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <div class="card mt-0">
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-6 align-self-center">
                                <h5 class="m-1">Announcements</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            
            
            
        </div>
    </div>
</nav>
<div class="row">
{% for announce in announcement %}

    <div class="col-12 col-lg-4 mb-3">
        <div class="card ml-4 mr-4">
            <img class="card-img-top" src="{{ announce.picture.url }}">

            <div class="card-body">
                
                <div class="row">
                    <div class="col-12">
                        <p class="text-info m-0">Created by: {{ announce.author }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small class="text-info">{{ announce.created_date }}</small>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endfor %}
</div>



{% endblock sliderContents %}