<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Super Admin Dashboard</title>
	<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
    
    <!-- Toggle CSS -->
    <link rel="stylesheet" href="{% static 'plugins/toggle/toggle.min.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/website-formcss.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrapCSS/bootstrap.min.css' %}" >

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/finalwebsiteformcss.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'landing/css/websitecss.css' %}"> -->
	
	<script src="{% static 'plugins/fontawesome/js/all.js' %}" ></script>


</head>
     <body>
{% block mainNav %}
{% include "landing/landing_navbar.html" %}
{% endblock mainNav %}

{% block forms %}
<div class="mt-5">-</div>
  		<div class="mt-5">-</div>
	  	 <div class="container d-flex justify-content-start ml-6 align-top">
			<div class="row  col-12	">
				<div class="col-md-12 col-sm-12">
					<div class="vertical-tabs nav-fill">
						  <ul class="nav nav-tabs" role="tablist">
							 <li class="nav-item">
								<a class="nav-link  active" data-toggle="tab" href="#idcard" role="tab" aria-controls="home">Create Resident Record</a>
							 </li>
							
							</ul>
					<form method="POST" class=" card" enctype="multipart/form-data" >{% csrf_token %}
						
						<div class="tab-content">
						  	
							 <div class="tab-pane active" id="idcard" role="tabpanel">
							 <!-- FOR ID CARD -->
							 	
								<div class="sv-tab-panel">
									<h4 class="text-warning pb-0">Register New Resident</h4><hr>
                     				  <h6 class="text-secondary pl-3 pb-1">Please fill up the form if not yet registered...</h6>
									<div class="row ml-5 mr-5">
									-	<div class="input-container col-sm-4  colxs-3 col-lg-3 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=fname required="required" data-error="enter valid username"/> -->
                      					{% render_field form.first_name|append_attr:"class:form-control form-control-md form-control-sm" type="text" name=fname required="required" placeholder="" %}
                      						<label for="firstName">First Name</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3  col-xs-3 col-lg-3 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=mname required="required" /> -->
											{% render_field form.middle_name|append_attr:"class:form-control form-control-md form-control-sm" type="text" name="mname"   placeholder="" %}
											<label for="midName">Middle Name</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-4  col-xs-3 col-lg-3	mr-0 ml-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=lname required="required" /> -->
											{% render_field form.last_name|append_attr:"classform-control form-control-md form-control-sm" type="text" placeholder="" name=lname required="required" %}
											<label for="lastName">Last Name</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-4  col-xs-3 col-lg-1	mr-0 ml-4 mb-3">
												<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=lname required="required" /> -->
												{% render_field form.suffix|append_attr:"class:form-control form-control-md form-control-sm" type="text" placeholder="" name=suffix required="required" %}
												<label for="Suffix">Suffix</label>
												<div class="bar"></div>
											</div>
									</div>
									<div class="input-container mb-3 mt-0 ml-5">
										<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=address required="required" /> -->
										{% render_field form.address|append_attr:"class:form-control form-control-md form-control-sm" name='address' type="text" placeholder="" required="required" %}
										<label for="Address">Address</label>
										<div class="bar"></div>
									  </div>
									<div class="row ml-5 mr-5">
										<div class="input-container col-sm-3  col-xs-3 col-lg-6 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="text" oninput="this.className = ''" maxlength="411" name=bplace required="required" /> -->
											{% render_field form.place_of_birth|append_attr:"class:form-control form-control-md form-control-sm" type="text"  maxlength="411" name="bplace" placeholder=""  required="required" %}
											<label for="bplace">Birthplace</label>
											<div class="bar"></div>
										</div>
										<label for="bdate"><font color="orange">Birthdate</font></label>
										<div class="input-container col-sm-3  col-xs-3 col-lg-3 ml-0 mr-3 mb-3">
											
											<!-- <input class="form-control form-control-md form-control-sm" name="date" type="text" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"> -->
											{% render_field form.date_of_birth|append_attr:"class:form-control form-control-md form-control-smdateYear" name="date" type="date"  placeholder="" required="required" %}
											
											<div class="bar"></div>
										</div>
									</div>
									<div class="row ml-5 mr-5">
										<div class="input-container col-sm-3  col-xs-3 col-lg-6 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="number" oninput="this.className = ''" maxlength="11" name=contact required="required" /> -->
											{% render_field form.contact_number|append_attr:"class:form-control form-control-md form-control-sm" type="number"  maxlength="11" name=contact  placeholder=""  required="required" %}
											<label for="contact">Contact Number</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3  col-xs-3 col-lg-5 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=nationality required="required" /> -->
											{% render_field form.nationality|append_attr:"class:form-control form-control-md form-control-sm" type="text" name=nationality placeholder=""  required="required" %}
											<label for="nationality">Nationality</label>
											<div class="bar"></div>
										</div>
									</div>
									<div class="row ml-5 mr-5">
										<div class="input-container col-sm-3  col-xs-3 col-lg-5 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="email"  oninput="this.className = ''" name=emailadd required="required" /> -->
											{% render_field form.email_address|append_attr:"class:form-control form-control-md form-control-sm" type="email" name=emailadd   placeholder=""  required="required" %}	
											<label for="emailadd">Email Address</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3 col-xs-3 col-lg-3 ml-0 mr-3 mb-3 d-flex justify-content-start">
											{% render_field form.gender|append_attr:"class:form-control form-control-md form-control-sm" id="civilStatus" name="gender" onchange="ChangecatList()"   placeholder=""  required="required" %}	
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3  col-xs-3 col-lg-3 ml-0 mr-3 mb-3">
												{% render_field form.civil_status|append_attr:"class:form-control form-control-md form-control-sm" id="civilStatus" name="gender" onchange="ChangecatList()"  placeholder=""  required="required" %}				
											<!-- <select class="form-control form-control-md form-control-sm" id="civilStatus" name="gender" onchange="ChangecatList()" required>
												<option value="">Civil Status... </option>
												<option value="Classroom Instruction and Assessment">Single</option>
												<option value="Curriculum Development and Alignment">Married</option>
												<option value="Classroom Instruction and Assessment">Widowed</option>
												<option value="Curriculum Development and Alignment">Separated</option>
											</select>-->
											<div class="bar"></div> 
										</div>
									</div>
									<div class="row ml-5 mr-5  mt-0">
										<div class="input-container col-sm-3  col-xs-3 col-lg-5 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="text"  oninput="this.className = ''" name=religion required="required" /> -->
											{% render_field form.religion|append_attr:"class:form-control form-control-md form-control-sm" type="text"  name='religion'  placeholder=""  required="required" %}	
											<label for="religion">Religion</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3  col-xs-3 col-lg-3 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="number"  oninput="this.className = ''" name=weight required="required" /> -->
											{% render_field form.weight|append_attr:"class:form-control form-control-md form-control-sm" type="number" name="weight"   %}	
											<label for="Weight">Weight</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3  col-xs-3 col-lg-3 ml-0 mr-3 mb-3">
											<!-- <input class="form-control form-control-md form-control-sm" type="number"  oninput="this.className = ''" name=height required="required" /> -->
											{% render_field form.height|append_attr:"class:form-control form-control-md form-control-sm" type="number" name="height"    %}	
											<label for="Height">Height</label>
											<div class="bar"></div>
										</div>
									</div>	
									<!-- This is password -->
									<!-- <div class="row ml-5 mr-5">
										<div class="input-container col-sm-3  col-xs-3 col-lg-5 ml-0 mr-3 mb-3">
											<input class="form-control form-control-md form-control-sm" type="password"  oninput="this.className = ''" name=password required="required" />
											<label for="password">Password</label>
											<div class="bar"></div>
										</div>
										<div class="input-container col-sm-3  col-xs-3 col-lg-5 ml-0 mr-3 mb-3">
											<input class="form-control form-control-md form-control-sm" type="password"  oninput="this.className = ''" name=reppassword required="required" />
											<label for="reppassword">Repeat Password</label>
											<div class="bar"></div>
										</div>
									</div> -->
									  
					</form>

				 </div>

				</div>
			</div>							 
		 </div>	
{% endblock forms %}


{% block footer %}
{% include "landing/landing_footer.html"%}
{% endblock footer %}
<script>
	  $('#id_nationality').val('Filipino');
	  $('#id_date_of_birth').addClass('datepicker');
	  $('#id_age').prop('readonly', true);
	  $('#div_id_is_senior').addClass('d-none');
	  $('#div_id_senior_id').addClass('d-none');
	  $('#div_id_is_pwd').addClass('d-none');
	  $('#div_id_is_fresh_grad').addClass('d-none');
	  $('#div_id_pwd_id').addClass('d-none');
	  $('#seniorId').addClass('d-none');
	  $('#pwdId').addClass('d-none');
	  $seniorId = $('span#seniorId').text();
	  $pwdId = $('span#pwdId').text();
	  $(document).ready(function(){
		  var $year = $("#id_date_of_birth");
		  var $age = $('#id_age');
		  var d = new Date();
		  var month = d.getMonth()+1;
		  var day = d.getDate();

		  var date_today = (month<10 ? '0' : '') + month + '/' +
					  (day<10 ? '0' : '') + day + '/' +
					  d.getFullYear()

		  $("#id_date_of_birth").blur(function() {
			  // alert($year.val(this.value));
			  birthDate = this.value + "";
			  birthDate = new Date(birthDate);
			  var date_today = new Date();
			  $ageD = Math.floor((date_today-birthDate) / (365.25 * 24 * 60 * 60 * 1000));
			  $age.val($ageD);
			  // is senior?
			  if( $age.val().length > 1 ) {
				  if( $age.val() >= 60) {
					  $('#id_is_senior').val('Senior');
					  $('#id_senior_id').val($seniorId);
				  }
				  else if( $age.val() <= 59) {
					  $('#id_is_senior').val('Nonsenior');
				  }
			  }
		  });
		  // is pwd?
		  $("div.isPwd input[type='radio']").click(function(){
			  var radioValue = $("input[name='switch-one']:checked").val();
			  if(radioValue){
				  $('#id_is_pwd').val(radioValue);
				  if($('#id_is_pwd').val() == 'yes'){
					  $('div.disabilityRow').removeClass('d-none');
					  $('#id_pwd_id').val($pwdId);
				  }
				  else if ($('#id_is_pwd').val() == 'no'){
					  $('div.disabilityRow').addClass('d-none');
				  }
			  }
		  });
		  // is fresh grad?
		  $("div.isFreshGrad input[type='radio']").click(function(){
			  var radioValue2 = $("input[name='switch-two']:checked").val();
			  if(radioValue2){
				  $('#id_is_fresh_grad').val(radioValue2);
			  }
		  });
		  // picture
		  $("input:file").change(function (){
			  var fileName = $(this).val();
			  $(".inputLabel").html(fileName);
		  });
	  }); 
	  
  </script>
  <script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
  <!-- Select2 JS -->
  <script src="{% static 'plugins/select2/select2.js' %}"></script>
  <!-- Toggle JS -->
  <script src="{% static 'plugins/toggle/toggle.min.js' %}"></script>
  <!-- Custom JS -->
  <script src="{% static 'residents/residents.js' %}"></script>
   <script src="{% static 'plugins/jqueryjs/jquery.js' %}"></script>
   <!-- Popper.JS -->
   <script src="{% static 'plugins/popperjs/popper.js' %}"></script>
   <!-- Bootstrap JS -->
   <script src="{% static 'plugins/bootstrap/bootstrapJS/bootstrap.js' %}"></script>
   <!-- Custom JS -->
   <script src="{% static 'landing/js/appcustom.js' %}"></script>


 
</body>

</html>