{% load widget_tweaks %}
<form method="POST">{% csrf_token %}   
        <div class="sv-tab-panel">
            <h4 class="text-warning pb-0">IDENTIFICATION CARD</h4><hr>
            {{ form.resident }}
               <h6 class="text-secondary pl-3 pb-1">Person to be contacted in case of Emergency...</h6>
           
            <div class="row">
                <div class="col-11">
                    <div class="form-group row">
                        <label for="e-name" class="col-sm-2 col-form-label d-flex justify-content-end ">Name</label>
                        <div class="col-sm-10">
                         {% render_field form.con_person|append_attr:"class:form-control" id="e-name" type="text" placeholder="FN, MI, LN" %}
                        <!-- <input type="text" class="form-control" id="e-name" name="" placeholder="FN, MI, LN" value=""> -->
                        </div>
                    </div>
                </div>
                <!-- end of col-8 -->
                <div class="col-4">
                <!-- for spacing?? -->
                </div>
            </div>
            
            <!-- end of row -->
             <!-- row start -->
            <div class="row">
                <div class="col-11">
                    <div class="form-group row">
                        <label for="e-address" class="col-sm-2 col-form-label d-flex justify-content-end ">Address</label>
                        <div class="col-sm-10">
                           {% render_field form.con_person_address|append_attr:"class:form-control" id="e-address"  placeholder="Enter address" type="text" %}
                        <!-- <input type="text" class="form-control" id="e-address" name="" placeholder="Enter address" value=""> -->
                        </div>
                    </div>
                </div>
                <!-- end of col-8 -->
                <div class="col-4">
                <!-- for spacing?? -->
                </div>
            </div>

             <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label for="NameChangeThis" class="col-sm-2 col-form-label d-flex justify-content-end ">Relationship</label>
                        {% render_field form.con_person_relationsip|append_attr:"class:input-field col-sm-4 form-control mr-1"  type="text" placeholder="Enter Relationship" name="email" maxlength="20" id="validationCustom01 namest"  %}
                        <!-- <input class="input-field col-sm-4 form-control mr-1" type="text" placeholder="Enter Relationship" name="email" maxlength="20" id="validationCustom01 namest" required> -->
                        <label for="NameChangeThis" class="col-sm-2 col-form-label ml-1  d-flex justify-content-end">Contact No.</label>
                        {% render_field form.con_person_mobile|append_attr:"class:input-field col-sm-3 form-control"   type="number" placeholder="XXXX-XXX-XXXX" name="e-contact" maxlength="20" id="validationCustom01 namest"  %}
                        <!-- <input class="input-field col-sm-3 form-control" type="number" placeholder="XXXX-XXX-XXXX" name="e-contact" maxlength="20" id="validationCustom01 namest" required> -->
                    </div>
                </div>
                <!-- end of col-8 -->

                <div class="col-4">
                <!-- for spacing?? -->
                </div>
            </div>
            
            <div class="row mt-2 d-flex justify-content-center">
              {% if id_model is None %}
              <button type="button"  class="btn btn-secondary" data-toggle="modal" data-target="#IDModal">Confirm>></button>
              {% else %}
              <button type="Submit" name="Edit_id" value="Edit_id" nclass="btn btn-secondary" data-toggle="modal" data-target="#IDModal">Edit>></button>
                    
               {% endif %}
                   </div>
   
            <!-- Modal -->

            <!-- Modal -->
            <div class="modal fade" id="IDModal" tabindex="-1" role="dialog" aria-labelledby="#IDModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="text-warning">IDENTIFICATION CARD</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    
                  </div>
                  <div class="modal-body">
                      <p><a href="#" role="button" class="btn btn-secondary popover-test d-flex justify-content-center" title="Popover title" data-content="Popover body content is set in this attribute.">Print ID Card</a> </p>
                    
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" name='Submit_id' value="Submit_id" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
       </form>