{% extends "home/base.html" %}
{% block content %}
<h2>FORMS</h2>
              		
<!-- row start -->
<div class="row">
    <div class="col-9">
        <div class="form-group row">
            <label for="EmailChangeThis" class="col-sm-2 col-form-label d-flex justify-content-end ml-5">Name of Applicant</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="address" name="" placeholder="Search..." value="">
            </div>
        </div>
    </div>
    <!-- end of col-8 -->
    <div class="col-4">
    <!-- for spacing?? -->
    </div>
</div>
    
<div class="row">
    <div class="col-9">
        <div class="form-group row">
            <label for="EmailChangeThis" class="col-sm-2 col-form-label d-flex justify-content-end ml-5">Application Form</label>
            <div class="col-sm-9 dropdown show">
            <a class="btn btn-secondary dropdown-toggle col-sm-12" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Application Type
            </a>

            <div class="dropdown-menu" aria-labelledby="Select Application Type">
                <a class="dropdown-item" href="#">Identification Card</a>
                <a class="dropdown-item" href="#">Indigency</a>
                <a class="dropdown-item" href="#">Barangay Clearance</a>
                <a class="dropdown-item" href="#">Barangay Permit</a>
                <a class="dropdown-item" href="#">Scholarship</a>
                <a class="dropdown-item" href="#">Burial Claim</a>
            </div>
            <!-- end of col-8 -->
                <div class="col-4">
                <!-- for spacing?? -->
                </div>
            </div> 
        </div>
    </div>
</div>
    
<!-- end of row -->
<hr>
<h4 class="text-warning">Basic Info</h4>
<h6 class="text-secondary pl-3">Basic Info</h6>

<div class="row">
    <div class="col-9">
        <div class="form-group row">
            <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Name</label>
            <input class="input-field col-sm-3 form-control mr-1" type="text" placeholder="First Name" name="fname" maxlength="20" id="validationCustom01 namest" required>
            <input class="input-field col-sm-2 	 form-control mr-1" type="text" placeholder="Middle Name" name="mname" maxlength="2" required id="validationCustom01 namest" required>
            <input class="input-field col-sm-3 form-control mr-1" type="text" placeholder="Last Name" name="lname" maxlength="20" id="validationCustom01 namest" required>
            <input class="input-field col-sm-1 form-control mr-1" type="text" placeholder="Suffix" name="lname" maxlength="20" id="validationCustom01 namest" required>
        </div>
    </div>
    <!-- end of col-8 -->
    <div class="col-4">
    <!-- for spacing?? -->
    </div>
</div>
<!-- end of row -->
<!-- row start -->
<div class="row">
    <div class="col-9">
        <div class="form-group row">
            <label for="EmailChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Address</label>
            <div class="col-sm-9">
            <input type="email" class="form-control" id="address" name="" placeholder="Enter address" value="">
            </div>
        </div>
    </div>
    <!-- end of col-8 -->
    <div class="col-4">
    <!-- for spacing?? -->
    </div>
</div>

{% endblock content %}
