{% extends "home/base.html" %}
{% load static %}
{% block cssLink %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">
{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h4 class="font-weight-bold text-uppercase">{{title}}</h4>

    <div class="row">
        <div class="col-6">
            <div class="container border border-primary">
                <div class="row">
                    <div class="col-12">
                        <h6 class=" text-uppercase">Sumayao, Ryan Jeff A.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container border border-primary p-3">
        <div class="row">
            <div class="col-12">
                <p><u>SCHOOL</u></p>
            </div>    
        </div>

        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">COLLEGE/UNIVERSITY NAME:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">Polytechnic University of the Philippines</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">YEAR LEVEL:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">5th Year Level</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">COURSE:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">Computer Engineering</small>
            </div>
        </div>
        
        <br>

        <div class="row">
            <div class="col-12">
                <p><u>FAMILY BACKGROUND</u></p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 lightOrange">
                <small class="font-weight-bold">FATHER'S NAME:</small>
            </div>
            <div class="col-8 lightOrange">
                <small class="text-uppercase">Denielle Gonzales</small>
            </div>
        </div>
        
        <div class="row">
            <div class="col-4 lightOrange">
                <small class="font-weight-bold">AGE:</small>
            </div>
            <div class="col-8 lightOrange">
                <small class="text-uppercase">51 Years Old</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4 lightOrange">
                <small class="font-weight-bold">CONTACT NO.:</small>
            </div>
            <div class="col-8 lightOrange">
                <small class="text-uppercase">092186467838</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4 lightOrange">
                <small class="font-weight-bold">GROSS MONTHLY SALARY:</small>
            </div>
            <div class="col-8 lightOrange">
                <small class="text-uppercase">21000 PHP</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4 lightOrange">
                <small class="font-weight-bold">PRECINT NO.:</small>
            </div>
            <div class="col-8 lightOrange">
                <small class="text-uppercase">51340295-P</small>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">MOTHER'S MAIDEN NAME:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">Maria Gonzales</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">AGE:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">51 Years Old</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">CONTACT NO.:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">092186467838</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">GROSS MONTHLY SALARY:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">21000 PHP</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">PRECINT NO.:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">51340295-P</small>
            </div>
        </div>


    </div>

</div>

{% endblock content %}