{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block cssLink %}
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    
    <!-- Toggle CSS -->
    <link rel="stylesheet" href="{% static 'plugins/toggle/toggle.min.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">

{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    <!-- tab -->
    <div class="row mb-3">
        <div class="col-7">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch left text-center " >
                    <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="#viewAll">VIEW ALL</a></div>
                    <div class="pillTab text-center" pillTab-direction="right"><a href="#addNew">ADD NEW</a></div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
        <div class="col-3 ml-auto">
            <!-- search box for table -->
             <input class="form-control tableSearchBox" placeholder="Search..." />
            <!-- search box for table end -->
        </div>
    </div>
    <!-- tab end -->
    <!-- add container -->
    <div id="addNew">
        <h4 class="text-warning">Basic Info</h4>
        <hr>
        <!-- main row -->
        <div class="row">
            <div class="col-9">
                <form method="POST" action="" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Name</label>

                    {% render_field form_res.first_name|append_attr:"class:form-control col-sm-3" placeholder="First Name" name="fname" maxlen3th="20" id="resFirstName" %}

                    {% render_field form_res.middle_name|append_attr:"class:input-field form-control col-sm-2 mr-1" type="text" placeholder="Middle Name" name="mname" maxlength="15" id="resMiddleName" %}

                    {% render_field form_res.last_name|append_attr:"class:input-field form-control col-sm-3 mr-1" type="text" placeholder="Last Name" name="lname" maxlength="15" id="resLastName" %}
          
                    {% render_field form_res.suffix|append_attr:"class:input-field form-control col-sm-1 mr-1" type="text" placeholder="Suffix" name="lname" maxlength="2" id="resLastName" %}
                </div>
                
                    <!-- col-12 end -->
                    <div class="col-12 pt-5">
                        <div class="text-center ml-3 pl-5">
                            <button type="submit"  class="btn btn-warning btn-brown" style="color: #fff">Save</button>
                        </div>
                    </div>
                    <!-- col-12 end -->
                </div>
            </div>
        </div>
    </form>
        <!-- main row end -->

    </div>
    <!-- add container end -->
</div>
<!-- main container end -->
{% endblock content %}
{% block jsLink %}
    <!-- Datepicker JS -->
    <script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    
    <!-- Toggle JS -->
    <script src="{% static 'plugins/toggle/toggle.min.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'residents/residents.js' %}"></script>
{% endblock jsLink %}