{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block cssLink %}
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
    
    <!-- Toggle CSS -->
    <link rel="stylesheet" href="{% static 'plugins/toggle/toggle.min.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">
    <style>
        .switch-field {
            display: flex;
            margin-bottom: 36px;
            overflow: hidden;
        }

        .switch-field input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;
        }

        .switch-field label {
            background-color: #e4e4e4;
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            line-height: 1;
            text-align: center;
            padding: 10px 20px;
            margin-right: -1px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            transition: all 0.1s ease-in-out;
        }

        .switch-field label:hover {
            cursor: pointer;
        }

        .switch-field input:checked + label {
            background-color: #F09819;
            box-shadow: none;
        }

        .switch-field label:first-of-type {
            border-radius: 20px 0 0 20px;
        }

        .switch-field label:last-of-type {
            border-radius: 0 20px 20px 0;
        }
    </style>

{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    <!-- tab -->
    <div class="row mb-3">
        <div class="col-7">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch right text-center " >
                        <div class="pillTab active d-inline font-weight-bold" style="color:#524747 !important" pillTab-direction="left"><a href="{% url 'residents:resident_list' %}">VIEW ALL</a></div>
                    <div class="pillTab text-center text-white" pillTab-direction="right">
                        {% if not form.instance.pk %}
                        <a href="{% url 'residents:add_resident' %}">ADD NEW</a>
                        {% else %}
                        <a href="#">UPDATE</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
    </div>
    <!-- tab end -->
    <!-- add container -->
    <div id="addNew">
        <h4 class="text-warning">Basic Info</h4>
        <hr>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <!-- main row -->
        <div class="row">
            <div class="col-9">
                <form method="POST" action="" class="needs-validation" enctype="multipart/form-data" novalidate>
     
                {% csrf_token %}
                <!-- SECTION FULL NAME -->
                <div class="form-group row">
                    <label title="This field is required" for="{{ form.first_name.id_for_label }}" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Name <span style="color: red;" title="This field is required"> *</span></label>
                    <div class="col-sm-3 mr-1">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 mr-1">
                        {{ form.middle_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-3 mr-1">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 mr-1">
                        {{ form.suffix|as_crispy_field }}
                    </div>
                </div>
                <!-- SECTION ADDRESS -->
                <div class="form-group row">
                    <label for="address" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Address <span style="color: red;" title="This field is required"> *</span></label>
                    <div class="col-sm-10 w-100">
                            {{ form.address|as_crispy_field }}
                    </div>
                </div>
                <!-- SECTION DATE OF BIRTH & PLACE OF BIRTH -->
                <div class="form-group row">
                    <label for="resBirthDate" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Birth Date <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-4 dateYear">
                            {{ form.date_of_birth|as_crispy_field }}
                        </div>
                    
                    <label for="resBirthPlace" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end ">Birth Place <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-5">
                            {{ form.place_of_birth|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION AGE, WEIGHT & HEIGHT -->
                <div class="form-group row"> 
                    <label for="resAge" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Age <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-3">
                            <!-- <input type="text" id="id_age" class="form-control" value="" readonly>  -->
                            {{ form.age|as_crispy_field }}
                        </div>
                    <label for="resWeightresWeight" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Weight</label>
                        <div class="col-sm-2">
                            {{ form.weight|as_crispy_field }}
                        </div>
                    <label for="resHeight" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Height</label>
                        <div class="col-sm-2">
                            {{ form.height|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION Gender & Civil Status -->
                <div class="form-group row">
                    <label for="resGender" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Gender <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-4">
                            {{ form.gender|as_crispy_field }}
                        </div>
                    <label for="resCivilStatus" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Civil Status <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-5">
                            {{ form.civil_status|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION Contact Number & Nationality -->
                <div class="form-group row">
                    <label for="resContactNumber" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Contact No. <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-4">
                                {{ form.contact_number|as_crispy_field }}
                        </div>
                    <label for="resNationality" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Nationality <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-5">
                                {{ form.nationality|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION Email Address & Religion -->
                <div class="form-group row">
                    <label for="resEmailAddress" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Email Add <span style="color: red;" title="This field is required"> *</span></label>
                        <div class="col-sm-4">
                            {{ form.email_address|as_crispy_field }}
                        </div>
                    <label for="resReligion" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Religion</label>
                        <div class="col-sm-5">
                            {{ form.religion|as_crispy_field }}
                        </div>
                </div> 

                <div class="form-group row">
                        <div class="col-12">
                            {{ form.is_senior|as_crispy_field }}
                            {{ form.senior_id|as_crispy_field }}
                            {{ form.is_pwd|as_crispy_field }}
                            {{ form.pwd_id|as_crispy_field }}
                            {{ form.is_fresh_grad|as_crispy_field }}
                            <span id="seniorId">{{senior_id}}</span>
                            <span id="pwdId">{{pwd_id}}</span>
                           
                        </div>
                </div>
            <!-- Basic info end -->
                    <!-- col-12 end -->
                    <div class="col-12 pt-5">
                        <div class="text-center ml-3 pl-5">
                            <button type="submit"  class="btn btn-warning btn-brown" style="color: #fff">Save</button>
                        </div>
                    </div>
                    <!-- col-12 end -->
                </div><!--col9-->
                <div class="col-3">
                        <div class="row">
                            <div class="col-6 col-md-12 p-0">
                                <div class=" imgResidentInv text-center pt-4">
                                    
                                    <!-- {% if resident_profile %} -->
                                        <!-- <img class="card-img-top" src="{{ resident_profile.picture.url }}"/> -->
                                    <!-- {% else %} -->
                                         <i class="fa fa-user fa-10x" style="color: #c4c4c4"></i>
                                    <!-- {% endif %} -->
                                        
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-12 text-center updateImgContainer pt-2 mb-3" >
                                <div id="upload_button" >
                                    <label>
                                        {{ form.resident_profile|as_crispy_field }}
                                            <!-- TODO  -->
                                        <span class="text-white font-weight-bold" style="cursor: pointer !important; font-size: 14px !important;">
                                            UPLOAD PHOTO <i class="fa fa-edit"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <div class="inputLabel black-text"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center pb-3">
                                <span class="font-weight-bold text-center">
                                    PWD?
                                </span>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-6">
                                <div class="switch-field isPwd">
                                    <input type="radio" id="pwdYesId" name="switch-one" value="yes" />
                                    <label for="pwdYesId">Yes</label>
                                    <input type="radio" id="pwdNoId" name="switch-one" value="no" checked />
                                    <label for="pwdNoId">No</label>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div><!--row-->
                        <div class="row disabilityRow d-none">
                            <div class="col-12 text-center">
                                <label for="resReligion" class="text-center">Enter Disability</label>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-8">
                                {{ form.disability|as_crispy_field }}
                            </div>
                        </div><!--disability row-->
                        <div class="row">
                        <div class="col-12 text-center pb-3">
                            <span class="font-weight-bold text-center">
                                Fresh Graduate?
                            </span>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="switch-field isFreshGrad">
                                <input type="radio" id="gradYesId" name="switch-two" value="yes" />
                                <label for="gradYesId">Yes</label>
                                <input type="radio" id="gradNoId" name="switch-two" value="no" checked />
                                <label for="gradNoId">No</label>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div><!--row-->
                </div><!-- col3-->
            </div>
        </div>
    
    </form>
        <!-- main row end -->
       
    </div>
    <!-- add container end -->
</div>
<!-- main container end -->
{% endblock content %}
{% block jsLink %}
    <!-- Datepicker JS -->
    <script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    
    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/select2.js' %}"></script>

    <!-- Toggle JS -->
    <script src="{% static 'plugins/toggle/toggle.min.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'residents/residents.js' %}"></script>
    <script>
        $('#id_nationality').val('Filipino');
        $('#id_date_of_birth').addClass('datepicker');
        $('#id_age').prop('readonly', true);
        $('#div_id_is_senior').addClass('d-none');
        $('#div_id_senior_id').addClass('d-none');
        $('#div_id_is_pwd').addClass('d-none');
        $('#div_id_is_fresh_grad').addClass('d-none');
        $('#div_id_pwd_id').addClass('d-none');
        $('#seniorId').addClass('d-none');
        $('#pwdId').addClass('d-none');
        $seniorId = $('span#seniorId').text();
        $pwdId = $('span#pwdId').text();
        $(document).ready(function(){
            var $year = $("#id_date_of_birth");
            var $age = $('#id_age');
            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();

            var date_today = (month<10 ? '0' : '') + month + '/' +
                        (day<10 ? '0' : '') + day + '/' +
                        d.getFullYear()

            $("#id_date_of_birth").blur(function() {
                // alert($year.val(this.value));
                birthDate = this.value + "";
                birthDate = new Date(birthDate);
                var date_today = new Date();
                $ageD = Math.floor((date_today-birthDate) / (365.25 * 24 * 60 * 60 * 1000));
                $age.val($ageD);
                // is senior?
                if( $age.val().length > 1 ) {
                    if( $age.val() >= 60) {
                        $('#id_is_senior').val('Senior');
                        $('#id_senior_id').val($seniorId);
                    }
                    else if( $age.val() <= 59) {
                        $('#id_is_senior').val('Nonsenior');
                    }
                }
            });
            // is pwd?
            $("div.isPwd input[type='radio']").click(function(){
                var radioValue = $("input[name='switch-one']:checked").val();
                if(radioValue){
                    $('#id_is_pwd').val(radioValue);
                    if($('#id_is_pwd').val() == 'yes'){
                        $('div.disabilityRow').removeClass('d-none');
                        $('#id_pwd_id').val($pwdId);
                    }
                    else if ($('#id_is_pwd').val() == 'no'){
                        $('div.disabilityRow').addClass('d-none');
                    }
                }
            });
            // is fresh grad?
            $("div.isFreshGrad input[type='radio']").click(function(){
                var radioValue2 = $("input[name='switch-two']:checked").val();
                if(radioValue2){
                    $('#id_is_fresh_grad').val(radioValue2);
                }
            });
            // picture
            $("input:file").change(function (){
                var fileName = $(this).val();
                $(".inputLabel").html(fileName);
            });
        }); 
        
    </script>
{% endblock jsLink %}