{% extends "home/base.html" %}
{% block content %}
<div class="mainContainer">
    <h4 class="font-weight-bold text-uppercase">{{title}}</h4>

    <div class="row">
        <div class="col-6">
            <div class="container border border-primary">
                <div class="row">
                    <div class="col-12">
                        <h6 class=" text-uppercase">Sumayao, Ryan Jeff A.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container border border-primary p-3">
        <div class="row">
            <div class="col-12">
                <p><u>CASE RECORDS</u></p>
            </div>    
        </div>

        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">COMPLAINANT:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">Denielle Gonzales</small>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">CASE TYPE:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">Murder</small>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <small class="font-weight-bold">CASE NO.:</small>
            </div>
            <div class="col-8">
                <small class="text-uppercase">C-123-4983-2019</small>
            </div>
        </div>

        <div class="row">
            <div class="col-4 align-self-center">
                <small class="font-weight-bold">REMARKS:</small>
            </div>
            <div class="col-8">
                <button class="btn btn-success">SETTLED</button>
            </div>
        </div>
    </div>


</div>
{% endblock content %}