{% extends "home/base.html" %}
{% load static %}
{% block cssLink %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">
{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h4 class="font-weight-bold text-uppercase">{{title}}</h4>

    <div class="row">
        <div class="col-6">
            <div class="container border border-primary">
                <div class="row">
                    <div class="col-12">
                        <h6 class=" text-uppercase">Sumayao, Ryan Jeff A.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container border border-primary p-3">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="col-6 col-md-12">
                        <!--img-->
                    </div>    
                </div>

                <div class="row">
                    <div class="col-6 col-md-12 lightOrange">
                        <small class="lightOrange">PWD NO.: <span class="font-weight-bold">NONE</span></small><br> 
                    </div>    
                </div>
                <div class="row">
                    <div class="col-6 col-md-12 darkOrange">
                        <small class="font-weight-bold">FRESH GRADUATE</small>
                    </div>    
                </div>
            </div>

            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12">
                        <p><u>BASIC INFORMATION</u></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <small class="font-weight-bold">ADDRESS:</small>
                    </div>
                    <div class="col-9">
                        <small class="text-uppercase">2042 Jose Abad Santos Street. Brgy. 175 Camarin Zone 15 District 1, Caloocan City</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 lightOrange">
                        <small class="font-weight-bold">DATE OF BIRTH:</small>
                    </div>
                    <div class="col-9 lightOrange">
                        <small class="text-uppercase">August 15, 2019</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <small class="font-weight-bold">PLACE OF BIRTH:</small>
                    </div>
                    <div class="col-9">
                        <small class="text-uppercase">Pasig City</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 lightOrange">
                        <small class="font-weight-bold">AGE:</small>
                    </div>
                    <div class="col-5 lightOrange">
                        <small class="text-uppercase">21 Years Old</small>
                    </div>
                    <div class="col-4 darkOrange">
                        <small class="text-uppercase">Non-Senior</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <small class="font-weight-bold">HEIGHT:</small>
                    </div>
                    <div class="col-9">
                        <small class="text-uppercase">160 CM</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 lightOrange">
                        <small class="font-weight-bold">WEIGHT:</small>
                    </div>
                    <div class="col-9 lightOrange">
                        <small class="text-uppercase">50 KG</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <small class="font-weight-bold">GENDER:</small>
                    </div>
                    <div class="col-9">
                        <small class="text-uppercase">Male</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 lightOrange">
                        <small class="font-weight-bold">CIVIL STATUS:</small>
                    </div>
                    <div class="col-9 lightOrange">
                        <small class="text-uppercase">Single</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <small class="font-weight-bold">CONTACT NO.:</small>
                    </div>
                    <div class="col-9">
                        <small class="text-uppercase">09499807802</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 lightOrange">
                        <small class="font-weight-bold">NATIONALITY:</small>
                    </div>
                    <div class="col-9 lightOrange">
                        <small class="text-uppercase">Filipino</small>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p><u>SCHOOL</u></p>    
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <small class="font-weight-bold">COLLEGE/UNIVERSITY NAME:</small>
            </div>
            <div class="col-9">
                <small class="text-uppercase">POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</small>
            </div>    
        </div>
        
        <div class="row">
            <div class="col-3">
                <small class="font-weight-bold">YEAR LEVEL:</small>
            </div>
            <div class="col-9">
                <small class="text-uppercase">5th Year Level</small>
            </div>    
        </div>
        <div class="row">
            <div class="col-3">
                <small class="font-weight-bold">COURSE:</small>
            </div>
            <div class="col-9">
                <small class="text-uppercase">Computer Engineering</small>
            </div>    
        </div>
    </div>

</div>

{% endblock content %}