{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block cssLink %}
    <!-- Toggle CSS -->
    <link rel="stylesheet" href="{% static 'plugins/toggle/toggle.min.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">

{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    <!-- tab -->
    <div class="row mb-3">
        <div class="col-7">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch left text-center " >
                    <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="#viewAll">VIEW ALL</a></div>
                    <div class="pillTab text-center" pillTab-direction="right"><a href="#addNew">ADD NEW</a></div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
        <div class="col-3 ml-auto">
            <!-- search box for table -->
             <input class="form-control tableSearchBox" placeholder="Search..." />
            <!-- search box for table end -->
        </div>
    </div>
    <!-- tab end -->
    <!-- add container -->
    <div id="addNew">
        <h4 class="text-warning">Basic Info</h4>
        <hr>
        <!-- main row -->
        <div class="row">
            <div class="col-9">
                <form method="POST" action="" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Name</label>

                    <!-- {% render_field form_res.first_name|append_attr:"class:form-control col-sm-3" placeholder="First Name" name="fname" maxlength="20" id="resFirstName" %}

                    {% render_field form_res.middle_name|append_attr:"class:input-field form-control col-sm-2 mr-1" type="text" placeholder="Middle Name" name="mname" maxlength="15" id="resMiddleName" %}

                    {% render_field form_res.last_name|append_attr:"class:input-field form-control col-sm-3 mr-1" type="text" placeholder="Last Name" name="lname" maxlength="15" id="resLastName" %} -->
          
                    {% render_field form_res.suffix|append_attr:"class:input-field form-control col-sm-1 mr-1" type="text" placeholder="Suffix" name="lname" maxlength="2" id="resLastName" %}
                </div>
                 <div class="form-group row">
                    <label for="address" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Address</label>
                    <div class="col-sm-9 ml-0 pl-0">

                        {% render_field form_res.address|append_attr:"class:form-control ml-0" id="address" type="text" name="" placeholder="Enter address" value="" %}
                    
                    </div>
                </div>
                <div class="form-group row">
                    <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Birthdate</label>
   
                    {% render_field form_res.date_of_birth|append_attr:"class:input-field col-4 form-control mr-1" type="text" placeholder="MM-DD-YY" name="bdate" maxlength="20" id="birthdate" %}

                    <label for="NameChangeThis" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end ">Birthplace</label>
            
                    {% render_field form_res.place_of_birth|append_attr:"class:input-field col-4 form-control" type="text" placeholder="Enter Place" name="bplace" maxlength="20" %}
                </div>
                <div class="form-group row">
                    <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Age</label>

                    {% render_field form_res.age|append_attr:"class:input-field col-sm-4 form-control mr-1" type="text" placeholder="Enter Age" name="age" maxlength="20" %}

                    <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Weight</label>

                    {% render_field form_res.weight|append_attr:"class:input-field col-sm-1 form-control mr-1" type="text" placeholder="Enter Weight" name="weight" maxlength="20" id="validationCustom01 " %}

                    <label for="NameChangeThis" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Height</label>

                    {% render_field form_res.height|append_attr:"class:input-field col-sm-1 form-control" type="text" placeholder="Enter Height" name="height" maxlength="20" %}

                </div>
                <div class="form-group row">
                    <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Gender</label>
                    <div class="col-sm-4">

                        {% render_field form_res.gender|append_attr:"class:form-control select2 m-0" id="SelectChangeThis" %}

                    </div>
                    <label class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Civil Status</label>

                    {% render_field form_res.civil_status|append_attr:"class:input-field col-sm-4 form-control" type="text" placeholder="Enter Civil Status" name="civil" maxlength="20" id="" %}

                </div>
                <div class="form-group row">
                    <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Contact #</label>

                    {% render_field form_res.contact_number|append_attr:"class:input-field col-sm-4 form-control mr-1" type="number" placeholder="XXXX-XXX-XXXX" name="contact" maxlength="20" %}

                    <label for="NameChangeThis" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Nationality</label>

                    {% render_field form_res.nationality|append_attr:"class:input-field col-sm-4 form-control" type="text" placeholder="Enter Nationality" name="nationality" maxlength="20"%}

                </div>
                <div class="form-group row">
                    <label for="NameChangeThis" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Email Add</label>

                    {% render_field form_res.email_address|append_attr:"class:input-field col-sm-4 form-control mr-1" type="email" placeholder="juandelacruz@gmail.com" name="email" maxlength="20"%}

                    <label for="NameChangeThis" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Religion</label>

                    {% render_field form_res.religion|append_attr:"class:input-field col-sm-4 form-control" type="text" placeholder="Enter Religion" name="religion" maxlength="20"%}

                </div> 
            <!-- Basic info end -->
            <!-- <h4 class="text-warning">Educational Attainment</h4> -->
            <!-- <hr> -->
                <!-- <div class="form-group row">
                    <label  class="col-sm-1 col-form-label d-flex justify-content-end ml-5">School</label>
                    <input class="input-field col-sm-9 form-control mr-1" type="email" placeholder="College/University" name="school" maxlength="20" id="validationCustom01 namest" required>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Year Level</label>
                    <input class="input-field col-sm-4 form-control mr-1" type="email" placeholder="" name="yearLevel" maxlength="20" id="validationCustom01 namest" required>
                    <label for="" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Course</label>
                    <input class="input-field col-sm-4 form-control" type="text" placeholder="" name="course" maxlength="20" id="validationCustom01 namest" required>
                </div> -->
            <!-- educational attainment end -->
            <h4 class="text-warning">Identifications</h4>
            <hr>
                <!-- <div class="form-group row">
                    <label for="" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Citizen ID</label>

                    {% render_field form_res.citizen_id|append_attr:"class:input-field col-sm-4 form-control mr-1" type="email" placeholder="" name="yearLevel" maxlength="20" %}

                    <label for="" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">PWD No.</label>

                    {% render_field form_res.pwd_no|append_attr:"class:input-field col-sm-4 form-control" type="text" placeholder="" name="course" maxlength="20" %}

                </div> -->
            </div>
            <!-- col-9 end -->
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <div class="card photoContainer">
                            <div class="card-body text-center">
                                <i class="fa fa-user fa-10x"></i>
                                <div id="upload_button">
                                    <label>
                                        <input type="file" name="residentImg" accept="image/*">
                                        <span class="btn btn-secondary text-white-50 border-0">
                                            UPLOAD PHOTO <i class="fa fa-camera"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col-12 end -->
                    <div class="col-12 pt-3">
                        <h6 class="text-center ml-5 pl-2">Senior?</h6>
                        <div class="text-center ml-3 pl-5">
                            <div class="btn-group btn-toggle toggleAnswer "> 
                                <input type="button" name="toggleAnswer" class="btn btn-default yesAnswer" value="Yes">
                                <input type="button" name="toggleAnswer" class="btn btn-warning noAnswer active" value="No">
                            </div>
                        </div>
                    </div>
                    <!-- col-12 end -->
                    <div class="col-12 pt-3">
                        <h6 class="text-center ml-5 pl-2">Fresh Grad?</h6>
                        <div class="text-center ml-3 pl-5">
                            <div class="btn-group btn-toggle toggleAnswer "> 
                                <input type="button" name="toggleAnswer" class="btn btn-default yesAnswer" value="Yes">
                                <input type="button" name="toggleAnswer" class="btn btn-warning noAnswer active" value="No">
                            </div>
                        </div>
                    </div>
                    <!-- col-12 end -->
                    <div class="col-12 pt-3">
                        <h6 class="text-center ml-5 pl-4">PWD?</h6>
                        <div class="text-center ml-3 pl-5">
                            <div class="btn-group btn-toggle toggleAnswer "> 
                                <input type="button" name="toggleAnswer" class="btn btn-default yesAnswer" value="Yes">
                                <input type="button" name="toggleAnswer" class="btn btn-warning noAnswer active" value="No">
                            </div>
                        </div>
                    </div>
                    <!-- col-12 end -->
                    <div class="col-12 pt-5">
                        <div class="text-center ml-3 pl-5">
                            <button type="submit" class="btn btn-warning btn-brown" style="color: #fff">Save >></button>
                        </div>
                    </div>
                    <!-- col-12 end -->
                </div>
            </div>
        </div>
    </form>
        <!-- main row end -->

    </div>
    <!-- add container end -->
</div>
<!-- main container end -->
{% endblock content %}
{% block jsLink %}
    <!-- Toggle JS -->
    <script src="{% static 'plugins/toggle/toggle.min.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'residents/residents.js' %}"></script>
{% endblock jsLink %}