{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block cssLink %}
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
    
    <!-- Toggle CSS -->
    <link rel="stylesheet" href="{% static 'plugins/toggle/toggle.min.css' %}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">

{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    <!-- tab -->
    <div class="row mb-3">
        <div class="col-7">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch right text-center " >
                        <div class="pillTab active d-inline font-weight-bold" style="color:#524747 !important" pillTab-direction="left"><a href="{% url 'residents:resident_list' %}">VIEW ALL</a></div>
                    <div class="pillTab text-center text-white" pillTab-direction="right">
                        {% if not form.instance.pk %}
                        <a href="{% url 'residents:add_resident' %}">ADD NEW</a>
                        {% else %}
                        <a href="#">UPDATE</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
    </div>
    <!-- tab end -->
    <!-- add container -->
    <div id="addNew">
        <h4 class="text-warning">Basic Info</h4>
        <hr>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <!-- main row -->
        <div class="row">
            <div class="col-9">
                <form method="POST" action="" class="needs-validation" novalidate>
                {% csrf_token %}
                <!-- SECTION FULL NAME -->
                <div class="form-group row">
                    <label for="{{ form.first_name.id_for_label }}" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Name</label>
                    <div class="col-sm-3 mr-1">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 mr-1">
                        {{ form.middle_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-3 mr-1">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 mr-1">
                        {{ form.suffix|as_crispy_field }}
                    </div>
                </div>
                <!-- SECTION ADDRESS -->
                <div class="form-group row">
                    <label for="address" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Address</label>
                    <div class="col-sm-10 w-100">
                            {{ form.address|as_crispy_field }}
                    </div>
                </div>
                <!-- SECTION DATE OF BIRTH & PLACE OF BIRTH -->
                <div class="form-group row">
                    <label for="resBirthDate" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Birth Date</label>
                        <div class="col-sm-4 dateYear">
                            {{ form.date_of_birth|as_crispy_field }}
                        </div>
                    
                    <label for="resBirthPlace" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end ">Birth Place</label>
                        <div class="col-sm-5">
                            {{ form.place_of_birth|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION AGE, WEIGHT & HEIGHT -->
                <div class="form-group row"> 
                    <label for="resAge" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Age</label>
                        <div class="col-sm-3">
                            <!-- <input type="text" id="id_age" class="form-control" value="" readonly>  -->
                            {{ form.age|as_crispy_field }}
                        </div>
                    <label for="resWeightresWeight" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Weight</label>
                        <div class="col-sm-2">
                            {{ form.weight|as_crispy_field }}
                        </div>
                    <label for="resHeight" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Height</label>
                        <div class="col-sm-2">
                            {{ form.height|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION Gender & Civil Status -->
                <div class="form-group row">
                    <label for="resGender" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Gender</label>
                        <div class="col-sm-4">
                            {{ form.gender|as_crispy_field }}
                        </div>
                    <label for="resCivilStatus" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Civil Status</label>
                        <div class="col-sm-5">
                            {{ form.civil_status|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION Contact Number & Nationality -->
                <div class="form-group row">
                    <label for="resContactNumber" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Contact No.</label>
                        <div class="col-sm-4">
                                {{ form.contact_number|as_crispy_field }}
                        </div>
                    <label for="resNationality" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Nationality</label>
                        <div class="col-sm-5">
                                {{ form.nationality|as_crispy_field }}
                        </div>
                </div>
                <!-- SECTION Email Address & Religion -->
                <div class="form-group row">
                    <label for="resEmailAddress" class="col-sm-1 col-form-label d-flex justify-content-end ml-5">Email Add</label>
                        <div class="col-sm-4">
                            {{ form.email_address|as_crispy_field }}
                        </div>
                    <label for="resReligion" class="col-sm-1 col-form-label ml-4 d-flex justify-content-end">Religion</label>
                        <div class="col-sm-5">
                            {{ form.religion|as_crispy_field }}
                        </div>
                </div> 

                <div class="form-group row">
                        <div class="col-12">
                            {{ form.is_senior|as_crispy_field }}
                        </div>
                </div>
            <!-- Basic info end -->
                    <!-- col-12 end -->
                    <div class="col-12 pt-5">
                        <div class="text-center ml-3 pl-5">
                            <button type="submit"  class="btn btn-warning btn-brown" style="color: #fff">Save</button>
                        </div>
                    </div>
                    <!-- col-12 end -->
                </div>
            </div>
        </div>
    </form>
        <!-- main row end -->

    </div>
    <!-- add container end -->
</div>
<!-- main container end -->
{% endblock content %}
{% block jsLink %}
    <!-- Datepicker JS -->
    <script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    
    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/select2.js' %}"></script>

    <!-- Toggle JS -->
    <script src="{% static 'plugins/toggle/toggle.min.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'residents/residents.js' %}"></script>
    <script>
        $('#id_date_of_birth').addClass('datepicker');
        $('#id_age').prop('readonly', true);
        $(document).ready(function(){
            var $year = $("#id_date_of_birth");
            var $age = $('#id_age');
            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();

            var date_today = (month<10 ? '0' : '') + month + '/' +
                        (day<10 ? '0' : '') + day + '/' +
                        d.getFullYear()

            $("#id_date_of_birth").blur(function() {
                // alert($year.val(this.value));
                birthDate = this.value + "";
                birthDate = new Date(birthDate);
                var date_today = new Date();
                $ageD = Math.floor((date_today-birthDate) / (365.25 * 24 * 60 * 60 * 1000));
                $age.val($ageD);



                // $age.val(birthDate);
            });
        }); 
        
    </script>
{% endblock jsLink %}