{% extends 'home/base.html' %}


{% block content %}

<div class="mainContainer">
    <div class="row">
        <div class="col-12">
            <h4>CASE DETAILS</h4>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Case Number: </h6>
        </div>
        <div class="col-8">
            <h6>{{ bpso_detail.case_no_bpso }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Case Type: </h6>
        </div>
        <div class="col-8">
            <h6>{{ bpso_detail.case_type_bpso }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Convict: </h6>
        </div>
        <div class="col-8">
            <h6>
                {{ bpso_detail.convict.first_name }}
                {{ bpso_detail.convict.middle_name }}
                {{ bpso_detail.convict.last_name }}
            </h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Address of Convict: </h6>
        </div>
        <div class="col-8">
            <h6>{{ bpso_detail.convict.address }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Complainant: </h6>
        </div>
        <div class="col-8">
            <h6>{{ bpso_detail.complainant_bpso }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Case Status: </h6>
        </div>
        <div class="col-8">
            <h6>{{ bpso_detail.case_status_bpso}}</h6>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            

                       <a class="float-right btn btn-warning mx-1" href="{% url 'bpso:settle' pk=bpso_detail.pk %}">Settle Case</a>

            <a class="float-right btn btn-danger mx-1" href="{% url 'bpso:cfa' pk=bpso_detail.pk %}">CFA</a>

            <a class="float-right btn btn-success mx-1" href="{% url 'bpso:withdraw' pk=bpso_detail.pk %}">Withdraw Case</div></a>

            <a class="float-left btn btn-secondary mx-1 ml-3" href="{% url 'bpso:delete' pk=bpso_detail.pk %}">Delete</a>

            
        </div>
    </div>
</div>
    
{% endblock %}
    