{% extends "home/base.html" %}

{% load static %}

{% block cssLink %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.css' %}" >
{% endblock cssLink %}

{% block content %}
<div class="mainContainer">
        <div class="row">
            <div class="col-12">
                <h4 class="font-weight-bold">{{title}}</h4>
    
                <div class="row mb-3">
                    <div class="col-9">
                        <div class="tabWrapper">
                            <div class="tabSwitch left text-center " >
                                <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="{% url 'senior:senior_list' %}">SENIOR</a></div>
                                <div class="pillTab text-center" pillTab-direction="right"><a href="#">PWD</a></div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-3">
                        <input class="form-control tableSearchBox" placeholder="Search..." id="seniorSearchBox"/>
                    </div>
                </div>
    
                <!-- table container -->
                <div class="tableContainer">
                <br>
                    <table id="seniorTable" class="table table-bordered text-center" style="width:100%;border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px;">
                        <thead>
                            <tr>
                                <th>RESIDENT ID</th>
                                <th>SC ID</th>
                                <th>NAME</th>
                                <th>DATE OF BIRTH</th>
                                <th>AGE</th>
                                <th>CIVIL STATUS</th>
                                <th>ACTIONS</th>
                                
                            </tr>
                        </thead>
                            
                        <tbody>
                            {% for senior in senior_list %}
                                
                            <tr>
                                    <td>{{senior.resident.id}}</td>
                                    <td>{{senior.senior_id}}</td>
                                    <td class="text-capitalize text-left"><a class="a-hover" href="{{ senior.id }}"><span class="font-weight-bold">{{ senior.resident.last_name }}</span>, {{senior.resident.first_name}} {{ senior.resident.middle_name }}</a></td>
                                    <td>{{ senior.resident.date_of_birth }}</td>
                                    <td>{{ senior.resident.age }}</td>
                                    <td>{{ senior.resident.civil_status }}</td>
                                <td>
                                    <button type = "button" class="btn btn-warning accordion">Archive</button>
                                </td>
                            </tr>
                            {% endfor %}
                           
              
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
    </div>
{% endblock content %}

{% block jsLink %}
    <!-- Datatables JS -->
    <script src="{% static 'plugins/datatables/datatables.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'senior/custom.js' %}"></script>
{% endblock jsLink %}