{% extends "home/base.html" %}

{% load static %}

{% block cssLink %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.css' %}" >
{% endblock cssLink %}

{% block content %}
<div class="mainContainer">
    <div class="row">
        <div class="col-12">
            <h4 class="font-weight-bold">{{title}}</h4>

            <div class="row mb-3">
                <div class="col-9">
                    <div class="tabWrapper">
                        <div class="tabSwitch left text-center " >
                            <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="#viewAll">VIEW ALL</a></div>
                            <div class="pillTab text-center" pillTab-direction="right"><a href="#addNew">ADD NEW</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <input class="form-control tableSearchBox" placeholder="Search..." id="seniorSearchBox"/>
                </div>
            </div>

            <!-- table container -->
            <div class="tableContainer">
            <br>
                <table id="seniorTable" class="table table-bordered text-center" style="width:100%;border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px;">
                    <thead>
                        <tr> 
                            <th>ID</th>
                            <th>SC ID</th>
                            <th>NAME</th>
                            <th>DATE OF BIRTH</th>
                            <th>AGE</th>
                            <th>DISABILITY</th>
                            <th>ACTIONS</th>
                            
                        </tr>
                    </thead>
                        
                    <tbody>
                        <tr>
                            <td>12345</td>
                            <td>123</td>
                            <td>Christopher Aligapos</td>
                            <td>October 10,1932</td>
                            <td>60</td>
                            <td>Deaf</td>
                            <td>
                                <button type = "button" class="btn btn-warning accordion">Archive</button>
                                <button type = "button" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12345</td>
                            <td>123</td>
                            <td>Christopher Aligapos</td>
                            <td>October 10,1932</td>
                            <td>60</td>
                            <td>Deaf</td>
                            <td>
                                <button type = "button" class="btn btn-warning accordion">Archive</button>
                                <button type = "button" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12345</td>
                            <td>123</td>
                            <td>Christopher Aligapos</td>
                            <td>October 10,1932</td>
                            <td>60</td>
                            <td>Deaf</td>
                            <td>
                                <button type = "button" class="btn btn-warning accordion">Archive</button>
                                <button type = "button" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12345</td>
                            <td>123</td>
                            <td>Christopher Aligapos</td>
                            <td>October 10,1932</td>
                            <td>60</td>
                            <td>Deaf</td>
                            <td>
                                <button type = "button" class="btn btn-warning accordion">Archive</button>
                                <button type = "button" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12345</td>
                            <td>123</td>
                            <td>Christopher Aligapos</td>
                            <td>October 10,1932</td>
                            <td>60</td>
                            <td>Deaf</td>
                            <td>
                                <button type = "button" class="btn btn-warning accordion">Archive</button>
                                <button type = "button" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12345</td>
                            <td>123</td>
                            <td>Christopher Aligapos</td>
                            <td>October 10,1932</td>
                            <td>60</td>
                            <td>Deaf</td>
                            <td>
                                <button type = "button" class="btn btn-warning accordion">Archive</button>
                                <button type = "button" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
          
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}

{% block jsLink %}
    <!-- Datatables JS -->
    <script src="{% static 'plugins/datatables/datatables.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'senior/custom.js' %}"></script>
{% endblock jsLink %}