{% extends 'home/base.html' %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-4">
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'katarungan:list' %}">Katarungan</a><i
            class="fas fa-angle-double-right mx-2 text-warning" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">{{ katarungan_detail.case_no }}</li>
    </ol>
</nav>

<div class="mainContainer">
    <div class="row">
        <div class="col-12">
            <h4>CASE DETAILS</h4>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Case Number: </h6>
        </div>
        <div class="col-8">
            <h6>{{ katarungan_detail.case_no }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Case Type: </h6>
        </div>
        <div class="col-8">
            <h6>{{ katarungan_detail.case_type }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Convict: </h6>
        </div>
        <div class="col-8">
            <h6>
                {{ katarungan_detail.convict.first_name }}
                {{ katarungan_detail.convict.middle_name }}
                {{ katarungan_detail.convict.last_name }}
            </h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Address of Convict: </h6>
        </div>
        <div class="col-8">
            <h6>{{ katarungan_detail.convict.address }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Complainant: </h6>
        </div>
        <div class="col-8">
            <h6>{{ katarungan_detail.complainant }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h6 class="font-weight-bold">Case Status: </h6>
        </div>
        <div class="col-8">
            <h6>{{ katarungan_detail.case_status}}</h6>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            
            <a class="float-right btn btn-success mx-1" href="{% url 'katarungan:withdraw' pk=katarungan_detail.pk %}">Withdraw Case</a>
            <a class="float-right btn btn-warning mx-1" href="{% url 'katarungan:settle' pk=katarungan_detail.pk %}">Settle Case</a>
            <a class="float-right btn btn-danger mx-1" href="{% url 'katarungan:cfa' pk=katarungan_detail.pk %}">CFA Case</a>

            <a class="float-right btn btn-danger mx-1" href="{% url 'katarungan:delete' pk=katarungan_detail.pk %}">Delete</a>
        </div>
    </div>
</div>
    
{% endblock %}
    