{% extends 'home/base.html' %}
{% block content %}
<div class="container-fluid p-3">
    
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h2 class="font-weight-bold">IMPORTANT EVENTS</h2>
                            <p class="card-text">August 2019</p>

                            <ul class="round violetList">
                                <li><span class="font-weight-bold">FIESTA</span> is on August 14, 2019</li>
                                <li><span class="font-weight-bold">FIESTA</span> is on August 14, 2019</li>
                                <li><span class="font-weight-bold">FIESTA</span> is on August 14, 2019</li>
                                <li><span class="font-weight-bold">FIESTA</span> is on August 14, 2019</li>
                                <li><span class="font-weight-bold">FIESTA</span> is on August 14, 2019</li>
                                <li><span class="font-weight-bold">FIESTA</span> is on August 14, 2019</li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card mb-2">
                        <div class="card-body p-1">
                            <h5 class="font-weight-bold text-center">POPULATION</h5>
                            <h5 class="font-weight-bold text-center">4096</h5>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="card mb-2">
                        <div class="card-body p-1">
                            <h5 class="font-weight-bold text-center">CASE CLOSED</h5>
                            <h5 class="font-weight-bold text-center">
                                <span class="text-success">41</span> out of 56
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="card mb-2">
                        <div class="card-body p-1">
                            <h5 class="font-weight-bold text-center">PROJECTS</h5>
                            <h5 class="font-weight-bold text-center">15</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h2 class="font-weight-bold">CASE UPDATES</h2>

                            <ul class="round darkOrangeList">
                                <li><span class="font-weight-bold">HEARING</span> for <span class="font-weight-bold">CASE NO.: 1234-432-2019</span> will be held on August 20, 2019 3:00 PM <span class="font-weight-bold">JUDGE SUMAYAO</span> will handle the case</li>
                                <li><span class="font-weight-bold">HEARING</span> for <span class="font-weight-bold">CASE NO.: 1234-432-2019</span> will be held on August 20, 2019 3:00 PM <span class="font-weight-bold">JUDGE SUMAYAO</span> will handle the case</li>
                                <li><span class="font-weight-bold">HEARING</span> for <span class="font-weight-bold">CASE NO.: 1234-432-2019</span> will be held on August 20, 2019 3:00 PM <span class="font-weight-bold">JUDGE SUMAYAO</span> will handle the case</li>
                                <li><span class="font-weight-bold">HEARING</span> for <span class="font-weight-bold">CASE NO.: 1234-432-2019</span> will be held on August 20, 2019 3:00 PM <span class="font-weight-bold">JUDGE SUMAYAO</span> will handle the case</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h2 class="font-weight-bold">CHANGE LOGS</h2>

                            <ul class="round brightPinkList">
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                                <li><span class="font-weight-bold">adminA</span> modified a record   <span class="text-secondary font-italic">30 mn ago</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h2 class="font-weight-bold">ACTIVE USERS</h2>

                            <ul class="round greenList">
                                <li><span class="font-weight-bold">adminA</span> is active </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>    
    </div>
</div>

{% endblock content %}