{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block cssLink %}
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
    
    <!-- Toggle CSS -->
    <link rel="stylesheet" href="{% static 'plugins/toggle/toggle.min.css' %}">
    

{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    <!-- tab -->
    <div class="row mb-3">
        <div class="col-7">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch right text-center " >
                    <div class="d-inline pillTab" pillTab-direction="left"><a href="{% url 'katarunganHome' %}">VIEW ALL</a></div>
                    <div class="pillTab text-center active" pillTab-direction="right"><a href="{% url 'katarunganAddCase' %}">ADD NEW</a></div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
        <div class="col-3 ml-auto">
            <!-- search box for table -->
             <input class="form-control tableSearchBox" placeholder="Search..." />
            <!-- search box for table end -->
        </div>
    </div>
    <!-- tab end -->
    <!-- add container -->
    <div id="addNew">
        <h4 class="text-warning">Basic Info</h4>
        <hr>
        <!-- main row -->
        <div class="row">
            <div class="col-12 col-md-12">
                <!-- ANCHOR  form -->
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <!-- SECTION CASE NUMBER -->
                        <div class="form-group row">
                                <label for="katCaseNo" class="col-sm-2 col-form-label d-flex justify-content-start ml-5">Case No.</label>
                                {% render_field form.case_no|append_attr:"class:form-control col-sm-7" placeholder="C-123-453-2019" type="text" id="katCaseNo" name="katCaseNo" %}
                            </div>
                            <!-- SECTION NAME -->
                            <div class="form-group row">
                                <label for="katName" class="col-sm-2 col-form-label d-flex justify-content-start ml-5">Name</label>
                                <div id="katName">{{ form.c_resident }}</div>
                                <!-- <span id="katNotName" class="col-sm-4 col-form-label d-flex justify-content-start">Not in the choices?</span> -->
                                
                            </div>
                            <!-- <div class="form-group row">
                                <div class="ml-5 col-sm-12">
                                    <div class="feedback">
                                        Name must not contain any numbers, symbols and contain 2 - 25 letters only.
                                    </div>
                                </div>
                            </div> -->
                            <!-- SECTION ADDRESS -->
                            <div class="form-group row">
                                <label for="katAddress" class="col-sm-2 col-form-label d-flex justify-content-start ml-5">Address</label>
                                <!-- NOTE will come from the data of the resident -->
                                <input class="form-control col-sm-7" type="text" id="katAddress" name="katAddress">
                            </div>
                            <!-- SECTION CASE TYPE -->
                            <div class="form-group row">
                                <label for="katCaseType" class="col-sm-2 col-form-label d-flex justify-content-start ml-5">Case Type</label>
                                {% render_field form.case_type|append_attr:"class:form-control col-sm-7" placeholder="" type="text" id="katCaseType" name="katCaseType" %}
                            </div>
                            <!-- SECTION COMPLAINANT NAME -->
                            <div class="form-group row">
                                <label for="katComplainant" class="col-sm-2 col-form-label d-flex justify-content-start ml-5">Complainant Name</label>
                                <input class="form-control col-sm-7" type="text" id="katComplainant" name="katComplainant">
                                
                                <!-- {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                    
                                {% for field in form.visible_fields %}
                                    <p class="col-sm-12" style="color: red"> 
                                        {{ field.errors }}
                                        {{ field.help_text }}
                                        {{ field }}
                                    </p>
                                {% endfor %} -->
                                    
                            </div>
                            <!-- SECTION CASE REMARKS -->
                            <div class="form-group row">
                                <label for="katRemarks" class="col-sm-2 col-form-label d-flex justify-content-start ml-5">Remarks</label>
                                {% render_field form.case_status|append_attr:"class:form-control col-sm-7 select2" name="katRemarks" id="katRemarks" %}
                            </div>
                            <!-- SECTION Save Button -->
                            <div class="row">
                                <div class="col-12 pt-3">
                                    <div class="text-center">
                                        <button type="submit" id="katSave"  class="btn btn-warning btn-brown width-md" style="color: #fff">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ANCHOR  form end-->
            </div>
        </div>    
        <!-- main row end -->

    </div>
    <!-- add container end -->
</div>
<!-- main container end -->
{% endblock content %}
{% block jsLink %}
    <!-- Datepicker JS -->
    <script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    
    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/select2.js' %}"></script>
    
    <!-- Toggle JS -->
    <script src="{% static 'plugins/toggle/toggle.min.js' %}"></script>
    
{% endblock jsLink %}