{% extends "home/base.html" %}

{% load static %}

{% block cssLink %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.css' %}" >
{% endblock cssLink %}

{% block content %}

<div class="mainContainer">
    <div class="row">
        <div class="col-12">
            <h4 class="font-weight-bold">{{title}}</h4>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-9">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch left text-center " >
                    <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="#viewAll">VIEW ALL</a></div>
                    <div class="pillTab text-center" pillTab-direction="right"><a href="#addNew">ADD NEW</a></div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
        <div class="col-3">
            <!-- search box for table -->
                <input class="form-control tableSearchBox" placeholder="Search..." id="vawcSearchBox"/>
            <!-- search box for table end -->
        </div>
    </div>

    <div class="tableContainer">
        <table id="vawcTable" class="table table-bordered" style="width:100%;border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px;">
            <thead>
                <tr>
                    <th>Case No.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Case Type</th>
                    <th>Complainant</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class = "align-middle">1234</td>
                    <td class = "align-middle">Matthew Valerio</td>
                    <td class = "align-middle">San Roque Marikina</td>
                    <td class = "align-middle">Murder</td>
                    <td class = "align-middle">Denielle Gonzales</td>
                    <td> 
                        <button type="button" class="btn btn-success width-md" style="background:#0EF533;border-color:#0EF533">SETTLED</button>
                    </td>
                </tr>
                <tr>
                    <td class = "align-middle">1234</td>
                    <td class = "align-middle">Matthew Valerio</td>
                    <td class = "align-middle">San Roque Marikina</td>
                    <td class = "align-middle">Murder</td>
                    <td class = "align-middle">Denielle Gonzales</td>
                    <td> 
                        <button type="button" class="btn btn-danger width-md" style="background:#F90F0F;border-color:#F90F0F">CFA</button>
                    </td>
                </tr>
                <tr>
                    <td class = "align-middle">1234</td>
                    <td class = "align-middle">Matthew Valerio</td>
                    <td class = "align-middle">San Roque Marikina</td>
                    <td class = "align-middle">Murder</td>
                    <td class = "align-middle">Denielle Gonzales</td>
                    <td> 
                        <button type="button" class="btn btn-warning width-md" style="background:#F09819;border-color:#F09819">WITHDRAW</button>
                    </td>
                </tr>
                <tr>
                    <td class = "align-middle">1234</td>
                    <td class = "align-middle">Matthew Valerio</td>
                    <td class = "align-middle">San Roque Marikina</td>
                    <td class = "align-middle">Murder</td>
                    <td class = "align-middle">Denielle Gonzales</td>
                    <td> 
                        <button type="button" class="btn btn-success width-md" style="background:#0EF533;border-color:#0EF533">SETTLED</button>
                    </td>
                </tr>
                <tr>
                    <td class = "align-middle">1234</td>
                    <td class = "align-middle">Matthew Valerio</td>
                    <td class = "align-middle">San Roque Marikina</td>
                    <td class = "align-middle">Murder</td>
                    <td class = "align-middle">Denielle Gonzales</td>
                    <td> 
                        <button type="button" class="btn btn-danger width-md" style="background:#F90F0F;border-color:#F90F0F">CFA</button>
                    </td>
                </tr>
                <tr>
                    <td class = "align-middle">1234</td>
                    <td class = "align-middle">Matthew Valerio</td>
                    <td class = "align-middle">San Roque Marikina</td>
                    <td class = "align-middle">Murder</td>
                    <td class = "align-middle">Denielle Gonzales</td>
                    <td> 
                        <button type="button" class="btn btn-warning width-md" style="background:#F09819;border-color:#F09819">WITHDRAW</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    <!-- table container end -->
    </div>

</div>

{% endblock content %}

{% block jsLink %}
    <!-- Datatables JS -->
    <script src="{% static 'plugins/datatables/datatables.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'vawc/custom.js' %}"></script>
{% endblock jsLink %}