{% extends 'home/base.html' %}

{% load static %}

{% block cssLink %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.css' %}" >
{% endblock cssLink %}


{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    
    <div class="row mb-3">
        <div class="col-9">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch left text-center " >
                    <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="#">VIEW ALL</a></div>
                    <div class="pillTab text-center" pillTab-direction="right"><a href="{% url 'assistance:burial_create' %}">ADD NEW</a></div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
        <div class="col-3">
            <!-- search box for table -->
                <input class="form-control tableSearchBox" placeholder="Search..." id="katBrgySearchBox"/>
            <!-- search box for table end -->
        </div>
    </div>
    
    <!-- table container -->
    <div class="tableContainer">
        <table id="katBrgyTable" class="table table-bordered" style="width:100%;border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px;">
                <thead>
                    <tr>
                        <th>Corpse</th>
                        <th>Date of Death</th>
                        <th>Interment Address</th>
                        <th>Claimant</th>
                        <th>Relationsip</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for burial in burial_list %}

                    <tr>
                        <td><u><a href="{{ burial.id }}">{{ burial.corpse.first_name }} {{ burial.corpse.middle_name }} {{ burial.corpse.last_name }}</a></u></td>
                        <td>{{ burial.date_of_death }}</td>
                        <td>{{ burial.interment_address }}</td>
                        <td>{{ burial.name }}</td>
                        <td>{{ burial.relationship }}</td>
                        <td>
                            {% if burial.is_approved %}
                                <span class="text-success">Approved</span>
                            {% else %}
                                <span class="text-danger">Not Approved</span>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- table container end -->
    </div>

{% endblock %}

{% block jsLink %}
    <!-- Datatables JS -->
    <script src="{% static 'plugins/datatables/datatables.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'katarungan/custom.js' %}"></script>
{% endblock jsLink %}