{% extends 'home/base.html' %}

{% load static %}

{% block cssLink %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.css' %}" >
{% endblock cssLink %}


{% block content %}
<div class="mainContainer">
    <h1>{{title}}</h1>
    
    <div class="row mb-3">
        <div class="col-9">
            <!-- tab switch -->
            <div class="tabWrapper">
                <div class="tabSwitch left text-center " >
                    <div style="display:inline" class="pillTab active" pillTab-direction="left"><a href="#">VIEW ALL</a></div>
                    <div class="pillTab text-center" pillTab-direction="right"><a href="{% url 'assistance:scholar_create' %}">ADD NEW</a></div>
                </div>
            </div>
            <!-- tab switch end -->
        </div>
        <div class="col-3">
            <!-- search box for table -->
                <input class="form-control tableSearchBox" placeholder="Search..." id="katBrgySearchBox"/>
            <!-- search box for table end -->
        </div>
    </div>
    
    <!-- table container -->
    <div class="tableContainer">
        <table id="katBrgyTable" class="table table-bordered" style="width:100%;border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px;">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>University</th>
                        <th>Year Level</th>
                        <th>Course</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scholar in scholar_list %}

                    <tr>
                        <td class="text-capitalize"><u><a href="{{ scholar.id }}"><span class="font-weight-bold">{{ scholar.student.last_name }}</span>, {{ scholar.student.first_name }} {{ scholar.student.middle_name }} </a></u></td>
                        <td>{{ scholar.school }}</td>
                        <td>{{ scholar.year_level }}</td>
                        <td>{{ scholar.course }}</td>
                        <td>
                            {% if scholar.is_approved %}
                                <button class="btn btn-sm btn-success text-white">APPROVED</button>
                            {% else %}
                                <button class="btn btn-sm btn-danger text-white">NOT APPROVED</button>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- table container end -->
    </div>

{% endblock %}

{% block jsLink %}
    <!-- Datatables JS -->
    <script src="{% static 'plugins/datatables/datatables.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'katarungan/custom.js' %}"></script>
{% endblock jsLink %}