{% extends "home/base.html" %}
{% load static %}
{% block cssLink %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'residents/residents.css' %}">
{% endblock cssLink %} 
{% block content %}
<div class="mainContainer">
    <h4 class="font-weight-bold text-uppercase">{{title}}</h4>

    <div class="row">
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="w-auto name-border pt-2 px-3">
                        <h6 class=" text-uppercase" style="font-size: 18px !important">Sumayao, Ryan Jeff ALCANTARA</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-brown-tab">
        <div class="container-fluid container-tab-border m-0 p-5">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="row">
                        <div class="col-6 col-md-12 p-0">
                            <div class=" imgResidentInv text-center pt-4">
                                <!-- replace with image -->
                                <i class="fa fa-user fa-10x" style="color: #c4c4c4"></i>
                            </div>
                             <input type="file" name="residentImg" accept="image/*">
                        </div>    
                    </div>
                

                </div>

                <div class="col-12 col-md-8 ml-4">
                    <div class="row">
                        <div class="col-12">
                            <p><u>BASIC INFORMATION</u></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <small class="font-weight-bold">USERNAME:</small>
                        </div>
                        <div class="col-9">
                            <small>joe</small>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-3">
                            <small class="font-weight-bold">DEPARTMENT:</small>
                        </div>
                        <div class="col-9">
                            <small class="text-uppercase">BADAC</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <small class="font-weight-bold">EMAIL-ADDRESS:</small>
                        </div>
                        <div class="col-9">
                            <small>heaven.arjan@gmail.com</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <small class="font-weight-bold">ADDRESS:</small>
                        </div>
                        <div class="col-9">
                            <small class="text-uppercase">2042 Jose Abad Santos Street. Brgy. 175 Camarin Zone 15 District 1, Caloocan City</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 ">
                            <small class="font-weight-bold">DATE OF BIRTH:</small>
                        </div>
                        <div class="col-9 ">
                            <small class="text-uppercase">August 15, 2019</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 ">
                            <small class="font-weight-bold">AGE:</small>
                        </div>
                        <div class="col-9 ">
                            <small class="text-uppercase">21 Years Old</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <small class="font-weight-bold">CONTACT NO.:</small>
                        </div>
                        <div class="col-9">
                            <small class="text-uppercase">09499807802</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-secondary text-white float-right"><i class="fa fa-edit"></i> EDIT</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- first container end -->
    </div>
    <!-- bornw container end -->
</div>
           		

{% endblock content %}
