<div class="col-12 col-lg-4 mb-3">
    <div class="card">
        <img class="card-img-top" src="{{ announcement.picture.url }}">

        <div class="card-body">
            <a href="{% url 'announcement:announcement_detail' pk=announcement.pk %}"><h4 class="card-title mb-0">{{ announcement.title }}</h4></a>
            <div class="row">
                <div class="col-12">
                    <p class="text-info m-0">Created by: {{ announcement.author }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <small class="text-info">{{ announcement.created_date }}</small>
                </div>
            </div>

        </div>
    </div>
</div>

    